.chatbot-chat-container {
  width: 90%;
  /*cambie*/
  height: 90vh;
  margin: auto;
}

.chatbot-chat-content {
  width: 85%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-chat {
  width: 50%;
  height: 500px;
  background: #fafafa;
  border-radius: 15px;
  display: flex;
    /*cambie*/

  margin-top: 55px;
  flex-direction: column;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
}
.chatbot-chat-container-body {
  width: 100%;
  height: 90%;
  overflow: auto;
  position: relative;
}

.chatbox-chat-body {
  width: 100%;
  height: 90%;
  max-height: 90%;
  overflow: auto;
}
.chatbot-chat-container-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbot-chat-select-container {
  width: 80%;
  margin: 10px 0 10px auto;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 700px) {
  .chatbot-chat {
    width: 100%;
  }
  .chatbot-chat-content {
    height: 95%;
}
}