.chatbot-chat-container {
  width: 100%;
  height: 100vh;
}

.chatbot-chat-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-chat {
  width: 100%;
  height: 500px;
  background: #fafafa;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
}
.chatbot-chat-container-body {
  width: 100%;
  height: 90%;
}

.chatbot-chat-container-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
