.icon-container {
  display: flex;
  /*max-width: 90%;*/
  width: auto;
}

.icon-container img {
  height: 50px !important;
}

.icon-item-messages {
  display: flex;
  flex-direction: column;
  width: auto;
  /*align-items: flex-start;*/
  flex-direction: column;
}

.icon-container label {
  margin: 0 0 5px 10px;
  font-size: 14px;
  color: #fafafa;
  background-color: purple;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 75%;
  box-sizing: border-box;
  font-weight: bold;
}
