body{
  background-color: #ffefeb;
  align-items: center;
}

img.girl{
  width: 70%;
    height: 70%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
