@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,800&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #ffefeb;
  align-items: center;
}

img.girl {
  transform-origin: 0px 0px;
  width: 50%;
  height: 50%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.content-center {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
h1.titulo {
  font-weight: bold;
}
p.subtitulo {
  line-height: 10px;
}

button.primary {
  background-color: #46b65e;
  border-color: #46b65e;
  border: #46b65e;
  width: 20%;
  padding: 1rem;
  border-radius: 4px;
  font-size: medium;
  font-weight: bold;
  color: #fafafa;
}

h3.Footer {
  text-align: center;
  color: purple;
  background-image: none;
  height: 10px;
  font-size: medium;
  bottom: 0;
  position: static;
  line-height: 9;
}
